<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Web Homework</h1>
	<h2>
	    This is the home page for the web homework application.
	</h2>
<table border="1">
   <tr>
       <td> </td>
       <% for i in IndexController.hometasksArray %>
         <td colspan="<%= IndexController.taskCountInHometask(i) %>">Hometask <%= i %></td>
       <% end %>
   </tr>
   <tr>
       <td> </td>
        <% @tasks.each do |s| %>
             <td><%= (s.number) %></td> 
        <% end %>
   </tr>
   <% @users.each do |s| %>
   <tr>
        <td><%= s.surname + ' ' + s.name + ' ' + s.patronymic%></td>
        <% @tasks.each do |t| %>
             <% @unit = UnitsController.findUnit(s.surname, t.homework, t.number)%>
             <td><%= UnitsController.findUnitState(s.surname, t.homework, t.number)%></td> 
        <% end %>

   </tr>
   <% end %>
</table>

<% for i in IndexController.hometasksArray %>
     <h2> Hometask <%= i %></h2>
     <% Task.where(homework: i).each do |s| %>
          <%= s.number.to_s + '. ' + s.condition %> </br>
     <% end %>
<% end %>