<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Homework Checking System</h1>
<h4>
	In the table: </br>

	NULL - no attempts to pass task </br>
	-1 - task was written off and will be replaced </br>
	0 - task is not offset </br>
	0.5 - task is not complete </br>
	1 - task is offset </br>
</h4>
<table border="1">
   <tr>
       <td> </td>
       <% for i in IndexController.hometasksArray %>
         <td colspan="<%= IndexController.taskCountInHometask(i) %>"> Homework <%= i %></td>
       <% end %>
   </tr>
 
   <tr>
       <td> </td>
        <% @tasks.each do |s| %>
             <td><%= (s.number) %></td> 
        <% end %>
   </tr>
   <% @users.each do |s| %>
   <tr>
        <td><%= s.surname + ' ' + s.name + ' ' + s.patronymic %></td>
        <% @tasks.each do |t| %>
             <% @u = Unit.where(email: s.email, homework: t.homework, number: t.number).take %>
             <td><%= UnitsController.findUnitState(s.email, t.homework, t.number) %> <% if signed_in? %>  <% if current_user.admin? %> <%= link_to 'edit', edit_unit_path(@u) %>  <% end %> <% end %></td> 
        <% end %>
   </tr>
   <% end %>
</table>

<% for i in IndexController.hometasksArray %>
     </br>
     <h4> Homework <%= i %></h4>
     <% Task.where(homework: i).each do |s| %>
	<p>
          <%= s.number.to_s + '. ' + s.condition %> </br>
	</p>
     <% end %>
<% end %>