<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	<h1>
	  <%= gravatar_for @user %>
	  <%= @user.name %>
	</h1>

	<%=form_for @datafile, :html => {:multipart => true} do |s|%>

	  <div class="field">
	  	<%=s.label :'Add_file: ' %>
	  	<%=s.file_field :dfile %>
  		<p><%= s.submit( 'upload' ) %></p>
  	  </div>

<% end %>
    </section>
  </aside>
</div>

