<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
	<h1>
	  <%= gravatar_for @user %>
	  <%= @user.name %>
	</h1>
        <% if (@user.id == current_user.id) %>

	<%=form_for @datafile, :html => {:multipart => true} do |s|%>

	  <div class="field">
	  	<%=s.label :'Add_file: ' %>
	  	<%=s.file_field :dfile %>
  		<p><%= s.submit( 'upload' ) %></p>
  	  </div>
        <% end %>

        <% end %>
    <h2> Comments to tasks </h2>
    <% Unit.where(email: @user.email, state: 0.5).each do |u|%>
        Homework <%= u.homework%>, task <%= u.number%>: <%= u.comment%></br>
    <% end %>

    </section>
  </aside>
</div>

